// Specific CSS for your home-page
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

body {
  min-height: 100vh;
  background-color: white;
}

.home-banner {
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset_path("matt-lamers-SPbcqTVoYqE-unsplash.jpg"));
  background-size: cover;
  height: 100vh;
  // color: #eee;
  text-align: left;
  padding-top: 20vh;
}

.banner-bookings {
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(asset_path("chuttersnap-zHhFKYYas7o-unsplash.jpg"));
  background-size: cover;
  height: 30vh;
  color: white;
  // color: #eee;
  text-align: left;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.home-form {
  display: flex;
  width: 75%;
  color: white;
}

#search_address {
  background-image: linear-gradient(0deg,#ffffff 2px,rgba(255,255,255,0) 0),linear-gradient(0deg,rgba(255,255,255,.26) 1px,transparent 0);
}

input#search_address::placeholder {
  font-size: 36px;
  color:white;
  opacity:0.8;
}

#date_start_date {
  background-image: linear-gradient(0deg,#ffffff 2px,rgba(255,255,255,0) 0),linear-gradient(0deg,rgba(255,255,255,.26) 1px,transparent 0);
}

#date_end_date {
  background-image: linear-gradient(0deg,#ffffff 2px,rgba(255,255,255,0) 0),linear-gradient(0deg,rgba(255,255,255,.26) 1px,transparent 0);
}

#search-button {
  background: transparent;
  color: white;
  opacity: 0.9;
  border: none;
}

#login-form {
  margin-top: 14vh;
}

#signup-form {
  margin-top: 14vh;
}
// .background-container {
//   background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset_path("chuttersnap-zHhFKYYas7o-unsplash.jpg")) no-repeat center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   background-size: cover;
//   -o-background-size: cover;
//   height: 100vh;
// }

// .main-container {
//   padding-top: 35px;
// }

