// Specific CSS for your home-page

body {
  min-height: 100vh;
}

.background-container {
  background: url('https://source.unsplash.com/u6m8qfAEpYY/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}

.main-container {
  padding-top: 35px;
}

.gradient {
  background-image: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );
  height: 100vh;
}