// Specific CSS for your home-page

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
  background-blend-mode: normal,color-burn;
}

.home-banner {
  background-image: url(asset_path("matt-lamers-SPbcqTVoYqE-unsplash.jpg"));
  background-size: cover;
  height: 100vh;
  // color: #eee;
  text-align: left;
  padding-top: 20vh;
}

// .background-container {
//   background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset_path("chuttersnap-zHhFKYYas7o-unsplash.jpg")) no-repeat center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   background-size: cover;
//   -o-background-size: cover;
//   height: 100vh;
// }

// .main-container {
//   padding-top: 35px;
// }

// Defining a variable
// $gray: #F4F4F4;
// $spacer: 8px;

// body {
//   background: $gray; // Using this variable
//   font-family: Helvetica;
// }

// .btn {
//   padding: $spacer ($spacer * 3);
// }

// .banner {
//   background: red;

//   h1 {
//     font-size: 50px;
//   }
// }

// a {
//   color: grey;

//   &:hover {
//     color: black;
//   }
// }
