.btn-ghost {
  color: white;
  background-color: $light-gray;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: normal;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 0.8;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 6px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 6px;
  font-weight: bold;
  background: linear-gradient($light-gray, $gray);
  transition: background 0.3s ease;
  border: 1px solid white;
  opacity: 0.9;
}

.btn-gradient:hover {
  background: $gray;
  color: white;
  opacity: 0.8;
}
