

.card-product-review {
  overflow: hidden;
  height: 160px;
  border-radius: 5px;
  background:#f7f7f7;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.card-product-review img {
  height: 100%;
  width: 160px;
  object-fit: cover;
}

.card-product-review h2 {
  font-size: 24px;
  font-weight: italic;
  margin: 0;
}

.card-product-review p {
  text-align: center;
  font-size: 18px;
  font-family: 'Abril Fatface', cursive;
  line-height: 1.4;
  opacity: .7;
  margin: 0 auto;
}

.card-product-review .card-product-review-booking-infos {
  padding: 16px;
}